/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#mainTitle {
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 40px;
}

#mainParagraph {
  text-align: center;
  margin-bottom: 40px;
}

/** bar **/

/* dropdown menu */

/*main content*/
section {
  width: 50%;
  padding: 15px;
  background-color: #f2f4f7;
  min-height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color:black;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btnContainer {
  height: 60px;
  width: 100%;
  margin: auto;
  position: relative;
}

.btnElement {
  position: absolute;
  left: calc(50% - 100px);
}

  /*setting style for buttons*/
  
  .btn-1 {

    width:  200px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color:black;
    color: black;
    background-color: lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica;
    font-size: 20px;
  }
  
  .btn-1:hover{
    background-color: black;
    color: white;
  }