/*XS*/

@media (max-width: 576px) {
  /*general*/
  body {
    font-size: 12px;
  }
  .container {
    width: 96%;
  }
  .hide-on-mobile {
    display: none !important;
  }

  /*Navbar*/
  .navbar__list {
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
    justify-content: space-between;
  }

  .navbar {
    padding: 0px;
    margin: 1.25em 0px;
  }

  .navbar__right-block {
    width: 100%;
  }

  .navbar__element {
    text-transform: uppercase;
    padding: 0px;
  }

  #navbar-mobile {
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;
  }

  /*Main*/
  .main-content {
    padding: 20px 0px;
    margin: 0px;
  }

  .main-content__call-to-action {
    margin: 1em 0px 0px;
    text-align: left;
  }
  .main-content__call-to-action-title {
    width: 100%;
    margin: 1em 0px;
  }

  #free-consultation {
    text-transform: lowercase;
  }

  .main-content__offer,
  .main-content__offer-description {
    max-width: 100%;
  }

  /*back*/

  #main-back-mobile {
    position: relative;
  }

  #main-back-mobile::before {
    content: '';
    width: 104%;
    height: 100%;
    background-image: url(/images/back-mobile.png);
    position: absolute;
    top: 0px;
    left: -2%;
    z-index: -1;
    overflow: hidden;
  }

  /*Footer*/

  .footer__table {
    display: block;
  }

  .footer__text {
    margin: 1em 0px;
  }

  .footer__text--right-align {
    text-align: left;
  }
  .footer__footnote {
    text-align: left;
  }

  .footer__element--social-media {
    justify-content: left;
  }

  .footer__list li {
    text-align: left;
  }

  .footer__element--social {
    margin-right: 1em;
    margin-left: 0em;
  }

  /*Fonts*/

  #navbar-mobile,
  .footer__list li {
    font-size: 14px;
  }

  .main-content__offer-description,
  .main-content__call-to-action-title {
    font-size: 18px;
  }
  .main-content__call-to-action-title {
    font-weight: 700;
  }

  .main-content__offer-title {
    font-size: 36px;
  }

  .main-content__gifts-container-mobile {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  #phone {
    font-size: 16px;
  }
}

/*S*/

@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .container {
    width: 95%;
  }
  .hide-on-desktop {
    display: none !important;
  }

  .footer__text--right-align {
    text-align: left;
  }

  .footer__element--social-media {
    justify-content: left;
  }

  .footer__footnote {
    transform: translate(0px, -55px);
  }

  .navbar__logo {
    display: none;
  }
}

/*M*/
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  footer {
    font-size: 12px;
  }
  .container {
    width: 90%;
  }
  .hide-on-desktop {
    display: none !important;
  }
}

/*L*/
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 15px;
  }
  .container {
    width: 85%;
  }
  .hide-on-desktop {
    display: none !important;
  }
}

/*XL*/
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
  .hide-on-desktop {
    display: none !important;
  }
}
