.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.navbar__logo-brand-name img {
  height: 2em;
  width: auto;
}

.navbar__logo-brand-description {
  width: 70%;
  margin-right: auto;
}

.navbar__right-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.right-aligned {
  text-align: right;
}

.navbar__element {
  padding-left: 2em;
}

.navbar__list {
  margin-left: 5px;
  margin-bottom: 1.5em !important;
  margin-left: auto !important;
}

.navbar__list li {
  list-style: none;
}

.navbar__list-contacts {
  transform: translate(0px, -0.5em);
  padding-left: 3em;
}
