.footer {
  display: block;
}

.footer__table,
#footer__table-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em 0px;
}

.footer__text {
  margin: 1em;
}

.footer__text--right-align {
  text-align: right;
}

.footer__element {
  padding: 10px 0px;
}

.footer__element--social-media {
  display: flex;
  justify-content: right;
  margin-right: 40px;
}

.footer__element--social {
  margin-left: 1em;
}

footer li {
  list-style: none;
  line-height: 2em;
}

.footer__footnote {
  text-align: right;
}

#footer-placeholder {
  visibility: hidden;
}

.footer__list-1 {
  margin-right: 2em !important;
}

#policy {
  text-decoration: underline;
}

.right {
  margin: 1em 0px;
}

.left {
  margin: 1em 0px;
}
