.footer {
  display: block;
}

.footer__table {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: 1em 0px;
}

.footer__text--right-align {
  text-align: right;
}

.footer__element {
  padding: 10px 0px;
}

.footer__element--social-media {
  display: flex;
  justify-content: right;
  margin-right: 40px;
}
footer li {
  list-style: none;
}

.footer__footnote {
  text-align: right;
}

#footer-placeholder {
  visibility: hidden;
}

.footer__list-1 {
  margin-right: 2em !important;
}
