/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: red;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/

/** bar **/

/* dropdown menu */

/*main content*/