/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 3em;
}

section {
    background-color: #93afdb;
    margin: 10px;
    position: relative; /* new */
    min-height: 160px;
}

h2 {
  width: 150px;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  position: absolute; /* new */
  right: -2px;
  top: -2px;
  margin: 0px;
}

.titlesnacks {
  background-color: darkorange;
}

.titlesalads {
  background-color: lawngreen;
}

.titlebeverages {
  background-color: yellow;
}

p {
  height: 150px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helvetica;
  color: black;
  position: absolute;
  top: 35px;
}

/* Simple Responsive Framework. */
.table {
  width: 90%;
  display: block;
  justify-items: stretch;
  margin-right: auto;
  margin-left: auto;
}

/********** DESKTOP VERSION **********/
@media (min-width: 992px) {
  .col-lg-3 {
    width: calc(100%/3 - 20px);
    float: left;
    border: 2px solid black;
  }
}

/********** TABLET **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-2 {
    width: calc(100%/2 - 30px);
    float: left;
    border: 2px solid black;
  }
  .col-md-2-last {
    width: calc(100% - 40px);
    float: left;
    border: 2px solid black;
  }
}

/********** PHONE **********/
@media (max-width: 767px) {
  .col-sm-1 {
    width: 100%;
    float: left;
    border: 2px solid black;
  }
}

