.footer {
  display: block;
}

.footer__table {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 0px !important;
  flex-wrap: wrap;
}

.footer div {
  padding: 15px 0px 10px 0px;
}

.footer div.text {
  position: relative;
  top: -2px;
}

#footer-placeholder {
  visibility: hidden;
}

.text {
  flex: 1;
}

.footer__text--right-align {
  text-align: right;
}

.footer__element {
  padding: 10px 0px 10px 0px;
}

.footer__element--social-media {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 40px;
}
footer li {
  list-style: none;
  margin-left: -40px;
}

.footer__footnote {
  text-align: right;
}
