/********** Base styles **********/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
}

html, body {
  overflow: hidden;
}

/********** Background **********/
body {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(13, 0, 128));
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.fullscreen-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#background-stars1, #background-stars2, #background-stars3 {
  height: 100%;
  width: 160vh;
  position: absolute;
  left: 0px;
  z-index: 2;
}

.meteorite-div {
  position: absolute;
  left: 0px;
  z-index: 3;
}

.meteorite-img {
  height: 200px;
  width: 200px;
}

/********** Cursor **********/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: none;
  overflow: hidden;
}

.cursor {
  pointer-events: none;
  position: absolute;
  transition: 0, 1s;
  transform: translate(-50%, -50%);
  z-index: 3;
}