
/*VARIABLES*/
:root {

  /*Special colors*/
  --main: #66C05D;
  --light: #EFEFEF;
  --dark: #333333;

  /*Width*/
  --container-width: 70%;
  --container-width-sm: 90%;
}

/*General*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  color: var(--dark);
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 75%;
  }
}


.container {
  margin: auto;
  width: var(--container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  padding-inline-start: 0px;
}

.brand-name {
  color: var(--main);
}

.price {
  color: black;
  font-weight: 500;
}


/*Buttons*/
.btn-buy {
  background-color: var(--main);
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 17px;
  width: 130px;
  height: 35px;
}

.btn-call {
  background-color: var(--main);
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 17px;
  min-width: 130px;
  height: 35px;
}

.btn-more {
  background-color: var(--main);
  border:solid;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 17px;
  min-width: 130px;
  height: 35px;
}


/*Header*/

.brand-name-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar {
  background-color: var(--light);
  min-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  }

.navbar__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__element {
  padding: 5px 15px;
}

.header-line2 {
  background-color: white;
}

.header-line2__element {
  padding: 0px 5px;
}

.navbar2 {
  background-color: white;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
  flex-wrap: wrap;
  }

.navbar2__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar2__element {
  padding: 5px 20px;
}

/*Jumbotron*/

.jumbotron {
  width: 100%;
  height: auto;
}

.jumbotron-text-fixer {
  position: relative;
}

.jumbotron-container {
  position: absolute;
  top: 10px;
  left: calc((100% - var(--container-width))/2);
  color: white;
  padding: 2px 5px 25px 5px;
  max-width: 200px;
}
@media screen and (max-width: 576px) {
  .jumbotron-container{
    max-width: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .jumbotron-container{
    max-width: 300px;
  }
}

.bold-title {
  font-weight: 700;
  font-size: 2em;
}


/*Special offers*/
.special-offers {
  background-color: var(--light);
  text-align: center;
}

.special-offers-card {
  background-color: white;
  height: 363px;
  width: 255px;
  margin: 10px 2px;
}

.special-offers-card__img {
  height: 166px;
  width: 125px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

/*Footer*/

footer{
  font-size: 0.75em;
}

.footer-line1 {
  background-color: white;
  min-height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center
}

.footer-line1__element {
  padding: 0px 10px;
}

.footer-line2 {
  background-color: var(--light);
  min-height: 100px;
}

.footer-line2__element {
  padding: 0px 10px;
}

@media screen and (max-width: 576px) {
  .resizable-img{
    width:20px;
    height:20px;
  }
}

/*Adaptive layout*/

@media screen and (max-width: 576px) {
  .lorry-icon {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron {
    display: none;
  }
  .jumbotron-container {
    position: static;
    background-color: var(--main);
  }
  .logo {
    height: 40px;
    width: 40px;
  }
  .brand-name {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-sm);
    justify-content: center;
      }
}



