/*Styling the buttons' container*/
.li-buttons-container{
  display: inline-block;
  padding-left: 3em;
}

/*Buttons' shared styles*/
.li-buttons{
  height: 2em;
  width: 2em;
  border: 2px solid aliceblue;
  border-radius: 5px;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/*delete button*/
.li-delete-button{
  background-color: red;
  --tooltip-content: 'удалить';
}

/*edit button*/
.li-edit-button{
  background-color: yellow;
  --tooltip-content: 'редактировать';
}

/*done button*/
.li-done-button{
  background-color: green;
  --tooltip-content: 'отметить выполненным';
}


/*Tooltips for all buttons*/

.li-buttons{
  position: relative;
}

.li-buttons::before {
  content: var(--tooltip-content); /* Use the CSS variable --tooltip-content as the tooltip text */
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: rgb(144, 0, 255);
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.li-buttons:hover::before {
  opacity: 1;
  visibility: visible;
}