/********** Variables **********/

/********** Base styles **********/
* {
  box-sizing: border-box;
}

html, body, main {
  overflow: hidden;
}

main {
  flex-grow: 1; /* Allow main to grow and take up remaining space */
}

.container {
  min-height: 300px;
  width: 50%;
  padding: 50px;
  margin: auto;
  border-style: solid;
  border-color:aliceblue;
  height: auto;
}

/********** Fonts **********/

body{
  font-size: 16px;
}

h1, h2, h3, p, label, ul, li  {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p{
  font-size: 1em;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.75em;
}

.main-heading {
  text-align: center;
  margin-top: 1em;
}

.main-heading-motto {
  text-align: center;
  margin-bottom: 20px;
}

/********** Background style **********/
html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;

  background-color: black;
  background-repeat: repeat;
  background-size: cover;
}

footer {
  flex-shrink: 0;
  height: 10vh;
  width: 100vw;
  bottom: 0px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 10%, rgb(144, 0, 255) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}